<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
        <nav>
            <div>
                <h1><a class="DL" href="http://localhost:3000/">EDWIN'S DREAM LINEUP</a></h1>
            </div>
            <ul>
                <li><a class="anchor" href="http://localhost:3000/offense">OFFENSE</a></li>
                <li><a class="anchor" href="http://localhost:3000/defense">DEFENSE</a></li>
            </ul>
        </nav>
</head>

<body>
    <div class="row">
        <% for(let i=0; i < Player.length; i++) {%>
            <div class="card">
                <div>
                <img src="<%=Player[i].img%>">
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td><a>
                                    <%=Player[i].name%>
                                </a></td>
                            <td>
                                <%=Player[i].position%>
                            </td>
                            <td>
                                <%=Player[i].ovr%>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="/<%=Player[i]._id%>?_method=DELETE" method="post">
                    <input class="btn btn-outline-primary" type="submit" value="DELETE">
                </form>
                <a class="btn btn-outline-primary" href="<%=Player[i]._id%>/edit">EDIT</a>
            </div>
        <% } %>
    </div>
    

</body>

</html>