<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('./partials/head.ejs')%>
</head>
<body class="show">
    <div class="col-sm-8">
        <div>
        <img class="img" src="<%=Player.img%>">
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td><a class="player-id">
                            <%=Player.name%>
                        </a></td>
                    <td>
                        <%=Player.position%>
                    </td>
                    <td>
                        OVR: <%=Player.ovr%>
                    </td>
                </tr>
            </tbody>
        </table>
    <button class="btn btn-outline-primary"><a href="/">BACK</a></button>
  
</body>
</html>